<div *ngIf="quoteRequest" style="height: 100%" class="d-flex flex-column">
  <h2 class="m-4">Your Quote</h2>
  <div class="location-wrapper d-flex mx-4 mt-3 border p-4 rounded bg-body-tertiary">
    <div
      *ngIf="quoteRequest"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      aria-current="true"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-airplane"
        viewBox="0 0 16 16"
      >
        <path
          d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"
        />
      </svg>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">From</h6>
          <p class="mb-0 opacity-75">{{ quoteRequest.from }}</p>
        </div>
      </div>
    </div>
    <div
      *ngIf="quoteRequest"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      aria-current="true"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-airplane"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"
        />
      </svg>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">To</h6>
          <p class="mb-0 opacity-75">{{ quoteRequest.to }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper p-4 flex-fill">
    <jrd-listing-table [listings]="displayedListings"></jrd-listing-table>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="processPagination()"
    >
    </ngb-pagination>

    <div class="d-flex mb-3">
      <select
        class="form-select me-2"
        style="width: auto"
        [(ngModel)]="sortOrder"
        (ngModelChange)="processPagination()"
      >
        <option [ngValue]="'asc'">Price low to high</option>
        <option [ngValue]="'desc'">Price high to low</option>
      </select>
      <select
        class="form-select me-2"
        style="width: auto"
        [(ngModel)]="maxPassengers"
        (ngModelChange)="processPagination()"
      >
        <option [ngValue]="2">2+ Max passengers</option>
        <option [ngValue]="3">3+ Max passengers</option>
        <option [ngValue]="5">5+ Max passengers</option>
      </select>

      <select
        class="form-select"
        style="width: auto"
        [(ngModel)]="pageSize"
        (ngModelChange)="processPagination()"
      >
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </div>
</div>
