<div *ngIf="quoteRequest" style="height: 100%" class="d-flex flex-column p-4">
  <div class="container-fluid pb-3"><h4>Current Quote</h4></div>
  <div class="details container-fluid">
    <div class="tour-details row">
      <div class="col-md-3">
        <div class="from d-flex border rounded p-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-airplane-fill me-2 mt-2"
            viewBox="0 0 16 16"
          >
            <path
              d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Z"
            />
          </svg>
          <div class="details d-flex flex-column ms-2">
            <span class="fs-6 text-secondary">From</span>
            <span class="fs-6">{{ quoteRequest.from }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="from d-flex border rounded p-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-airplane-fill me-2 mt-2"
            viewBox="0 0 16 16"
          >
            <path
              d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"
            />
          </svg>
          <div class="details d-flex flex-column ms-2">
            <span class="fs-6 text-secondary">To</span>
            <span class="fs-6">{{ quoteRequest.to }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="border rounded p-3">
          <div class="to d-flex d-flex flex-row mb-1">
          <span class="fs-6 me-2 text-secondary">Min Price:</span>
          <span class="fs-6">{{ minPrice | currency : "AUD" }}</span>
        </div>
        <div class="from d-flex d-flex flex-row mb-1">
          <span class="fs-6 me-2 text-secondary">Max Price:</span>
          <span class="fs-6">{{ maxPrice | currency : "AUD" }}</span>
        </div>
        <div class="from d-flex d-flex flex-row">
          <span class="fs-6 me-2 text-secondary">Average Price:</span>
          <span class="fs-6">{{ avgPrice | currency : "AUD" }}</span>
        </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="price d-flex border rounded p-3">
          <div class="details d-flex flex-column ms-2">
            <span class="fs-6 text-secondary">Total numer of listings</span>
            <span class="fs-6">{{ listings.length }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper flex-fill mt-4">
    <div class="container-fluid">
      <jrd-listing-table [listings]="displayedListings"></jrd-listing-table>
    </div>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="processPagination()"
    >
    </ngb-pagination>

    <div class="d-flex mb-3">
      <select
        class="form-select me-2"
        style="width: auto"
        [(ngModel)]="sortOrder"
        (ngModelChange)="processPagination()"
      >
        <option [ngValue]="'asc'">Price low to high</option>
        <option [ngValue]="'desc'">Price high to low</option>
      </select>
      <select
        class="form-select me-2"
        style="width: auto"
        [(ngModel)]="maxPassengers"
        (ngModelChange)="processPagination()"
      >
        <option [ngValue]="2">2+ Max passengers</option>
        <option [ngValue]="3">3+ Max passengers</option>
        <option [ngValue]="5">5+ Max passengers</option>
      </select>

      <select
        class="form-select"
        style="width: auto"
        [(ngModel)]="pageSize"
        (ngModelChange)="processPagination()"
      >
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </div>
</div>
<div *ngIf="!quoteRequest">
  <div class="spinner-border m-5 spinner" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
